.main{
   margin: 0 auto;
   width: 100%;
   max-width: 650px;
   border: 0;
   padding: 0;

}
.quiz_title{
    font-weight: 700;
    font-size: 19px;
}

.quiz_box{
    display: flex;
}

.quiz{
    font-size: 17px;
    border-bottom: 3px solid #00ab36;
}
.quiz2{
    font-size: 17px;
}

.image_size{
    height: 320px;
    
}

.mainpage {
    text-align: center;
}

ul {
    list-style: none;
    max-width: 100%;
    padding-left: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.simple-border {
    text-decoration: underline solid gold;
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    margin-left: auto;
    margin-right: auto;
}

.box-before-click {
    padding: 13px;
    margin-top: 1%;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    text-underline-position: auto;
    font-weight: 600;
    margin-top: 10px;
}

.true_choice {
    margin-top: 1%;
    background-color: #287DFF;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    text-underline-position: auto;
    font-weight: 600;
    color: white;
}

.false_choice {
    margin-top: 1%;
    background-color: #ff5218;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    text-underline-position: auto;
    font-weight: 600;
    color: white;
}

.true_text{
    font-size: 1pc;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 3px solid #287dff;
}

.false_text{
    font-size: 1pc;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 3px solid #ff5128
}

.answer {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.answer_box {
    display: none;
    background-color: #f5f5f5;
    padding: 17px;
    border-radius: 3px;
    margin-top: 10px;
    
    

}

.cant_click{
    pointer-events: none;
}