.body-wrapper {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    
    background: linear-gradient( #000000 0%, black 100%);
    opacity: 1;
    animation: huerotator 3s infinite alternate;
}
  
  
  @keyframes huerotator {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
  
    100% {
      -webkit-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }

  .title{
      position: absolute;
      bottom: 100px;
      left: 25%;
      width: 100vh;
      transform: translate(0,-50%);
    h2 {
        position: relative;
         margin: 30px;
         text-align: center;
       }
       
       h2:before,
       h2:after {
         position: absolute;
         z-index: 0;
         bottom: -10px;
         display: block;
         content: '';
         border: 1em solid #d90606;
       }
       
       h2:before {
         left: -30px;
         border-left-width: 15px;
         border-left-color: transparent;
       }
       
       h2:after {
         right: -30px;
         border-right-width: 15px;
         border-right-color: transparent;
       }
       
       h2 span {
         position: relative;
         z-index: 1;
         display: block;
         padding: 1rem 2rem;
         color: red;
         background: -webkit-linear-gradient(-45deg, red, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
       }
       
       h2 span:before,
       h2 span:after {
         position: absolute;
         bottom: -10px;
         display: block;
         width: 10px;
         height: 10px;
         content: '';
         border-style: solid;
         border-color: #b70505 transparent transparent transparent;
       }
       
       h2 span:before {
         left: 0;
         border-width: 10px 0 0 10px;
       }
       
       h2 span:after {
         right: 0;
         border-width: 10px 10px 0 0;
       }


  }


.team-list-container{
position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  
}



.left{
    

.score-container{
    display: flex;
    
    
    }
    
    .item {
        background-color: black;
    margin-top: 20px;
    font-size: 30px;
    height: fit-content;
    width:fit-content;
    display: flex;
    border-top: solid 3px gold;
    border-bottom: solid 1px gold;
    border-image: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-image-slice: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    .score{
    margin-top: 18px;
    height: fit-content;
    background: -webkit-linear-gradient(-45deg, red, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
      border: solid 0px ;
      border-image-slice: 1;
      border-top-right-radius: 10px;
      
    
    
    }
    .score-number{
    color: red;
        font-weight:bold ;
        font-size:40px ;
      
    }
}

.right{
    margin-left: 60px;

.score-container{
    display: flex;
    
    
    }
    
    .item {
        background-color: black;
margin-top: 8px;
display: flex;
height: fit-content;
    width:fit-content;
    display: flex;
    border-top: solid 3px gold;
    border-bottom: solid 1px gold;
    border-image: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
    border-image-slice: 1;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    .score{
    margin-top: 6px;
    height: fit-content;
    background: -webkit-linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
      border: solid 0px ;
      border-image-slice: 1;
      border-top-right-radius: 10px;
      
    
    
    }
    .score-number{
    color: blue;
        font-weight:bold ;
        font-size:28px ;
      
    }

}


  
  .list-item{
    color: #DA8E00;
    background: -webkit-linear-gradient(-45deg, red, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
    




