.simple-border{
    text-decoration:underline solid gold
}


.background{
    width: 800px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    background:whitesmoke;
    border:1px solid #f5f5f5;
    cursor: pointer;
    text-underline-position: auto;
    
    }
    .image1{
        margin-left: auto;
        margin-right: auto;
    }