body {
  background-image: url(../../img/background2.jpeg);
  overflow: hidden;
}

.team-wrapper {
  text-align: center;
  margin-top: 50px;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
}

.score {
  opacity: 0;
  margin-top: 20rem;
  font-size: 100px;
  text-align: center;
  line-height: 0.95em;
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
  -webkit-background-clip: text;
  border: solid gold 2px;
  -o-border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
     border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
}

.score-container {
  background: black;
}

.trans-score1 {
  -webkit-animation: trans-score1 1s linear both;
          animation: trans-score1 1s linear both;
}

@-webkit-keyframes trans-score1 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-score1 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.trans-score2 {
  -webkit-animation: trans-score2 1s linear both;
          animation: trans-score2 1s linear both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes trans-score2 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-score2 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.trans-score3 {
  -webkit-animation: trans-score3 1s linear both;
          animation: trans-score3 1s linear both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes trans-score3 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-score3 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.trans-score4 {
  -webkit-animation: trans-score4 1s linear both;
          animation: trans-score4 1s linear both;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes trans-score4 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-score4 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.trans-score5 {
  -webkit-animation: trans-score5 1s linear both;
          animation: trans-score5 1s linear both;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes trans-score5 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-score5 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.total {
  opacity: 0;
  margin-top: 5rem;
  text-align: center;
  font-size: 200px;
  line-height: 0.95em;
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
  -webkit-background-clip: text;
}

.trans-total-score {
  -webkit-animation: trans-total-score 1s linear both;
          animation: trans-total-score 1s linear both;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes trans-total-score {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes trans-total-score {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.check-button {
  margin-top: 80px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 35px;
  width: 500px;
  padding-top: 20px;
  -o-border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
     border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  border-image-slice: 1;
}
.check-button p {
  text-align: center;
  line-height: 0.95em;
  font-size: 70px;
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
  -webkit-background-clip: text;
  margin: -2.5rem calc(50% - 50vw);
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */